@page "/minha-colecao"
@attribute [Authorize(Roles = "Usuario")]
@inject ILivroService _service


<Filter StatusOptions="StatusOptions"
            CategoryOptions="CategoryOptions"
            OnFilterChanged="HandleFilterChanged" />

<hr/> 
<div style="display:flex; flex-wrap:wrap; gap:20px;">
    @foreach (var livro in LivrosFiltrados)
    {
        <BookCard Titulo="@livro.Titulo"
                  Autor="@livro.Autor"  
                  Status="@livro.StatusLeitura.ToString()"
                  Categoria="@livro.Categoria.ToString()"
                  />
    }
</div>

@code {

    private List<LivroResponse> livro = new();
    private IEnumerable<string> StatusOptions = new List<string>();
    private IEnumerable<string> CategoryOptions = new List<string>();
    string? FiltroStatus;
    string? FiltroCategoria;
    string? FiltroTitulo;
    string? Status;
    string? Category;
    string? Title;



    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await _service.ListarLivros();
            livro = response.ToList();

            StatusOptions = livro.Select(l => l.StatusLeitura.ToString())
                .Distinct().ToList();

            CategoryOptions = livro.Select(l => l.Categoria.ToString()).Distinct().ToList();
        }
        catch (Exception e)
        {
            throw new Exception(e.Message);
        }
    }
    

    IEnumerable<LivroResponse> LivrosFiltrados =>
        livro
            .Where(l => FiltroStatus == null || l.StatusLeitura.ToString() == FiltroStatus)
            .Where(l => FiltroCategoria == null || l.Categoria.ToString() == FiltroCategoria)
            .Where(l => FiltroTitulo == null || l.Titulo.ToLower() == FiltroTitulo);

    private void HandleFilterChanged(Filter.FilterResult result)
    {
        FiltroStatus = result.Status;
        FiltroCategoria = result.Category;

        if (!string.IsNullOrEmpty(result.Title))
        {
            FiltroTitulo = result.Title!.ToLower();
        }
        else
        {
            FiltroTitulo = null;
        }

        StateHasChanged();
    }
}