bin/
obj/

*.user
*.suo
*.cache
*.pdb
*.log

.vscode/
*.DS_Store

# ASP.NET / Blazor
wwwroot/dist/
wwwroot/*bundle*.js
wwwroot/*bundle*.css
.vs/
*.db
wwwroot/_framework/



Biblioteca.API/appsettings.json
Biblioteca.API/appsettings.*.json

appsettings.json
appsettings.*.json
