# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rch/
bld/
[Bb]in/
[Oo]bj/

# Rider
.idea/
*.sln.iml
*.DotSettings.user
.rider/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db


appsettings.*.json

!appsettings.json

!appsettings.Example.json


[Aa]pp[Ss]ettings.[Dd]evelopment.json
bin/
obj/
out/
publish/
*.user