@inject NavigationManager NavManager
@inject ILivroService Service


<CardMenu Icon="library_books" Title="Minha Coleção" >
    <RadzenText TextStyle="TextStyle.Body1" class="rz-mb-4">
        Visualize todos os seus livros organizados
    </RadzenText>

    <div class="rz-mb-2">
        Total de livros: <RadzenText class="float-end" TextStyle="TextStyle.Subtitle1">@TotalLivros</RadzenText>
    </div>
    <div class="rz-mb-2">
        Lidos: <RadzenText class="float-end" TextStyle="TextStyle.Subtitle1" style="color: green;">@LivrosLidos</RadzenText>
    </div>
    <div class="rz-mb-4">
        Para ler: <RadzenText class="float-end" TextStyle="TextStyle.Subtitle1" style="color: blue;">@LivrosParaLer</RadzenText>
    </div>

    <RadzenButton 
        Text="Ver Lista Completa" 
        
        Click="@NavigateToLista" 
        Style="width: 100%; background-color: var(--primary)" 
    />
</CardMenu>

@code {
    private int TotalLivros { get; set; } 
    private int LivrosLidos { get; set; }
    private int LivrosParaLer { get; set; }

    private void NavigateToLista()
    {
        Console.WriteLine("clicou");
        NavManager.NavigateTo("/minha-colecao", forceLoad: true);
    }

    protected override async Task OnInitializedAsync()
    {
        var colecao = await Service.ListarLivros();
        TotalLivros = 0;
        for (int i = 1; i <= colecao.Count; i++)
        {
            TotalLivros++;
        }

        foreach (var l in colecao)
        {
            if (l.StatusLeitura == EStatusLeitura.Lido)
                LivrosLidos += 1;

            if (l.StatusLeitura == EStatusLeitura.Para_Ler)
                LivrosParaLer += 1;

        }
        
    }
}