@inject ILivroService Service

<RadzenCard class="rz-p-4 rz-shadow-2" Style="min-height: 16em">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem" class="rz-mb-4">
        <RadzenIcon Icon="star_outline" Style="color: #6E439A" /> 
        <RadzenText TextStyle="TextStyle.H5" Style="color: #6E439A; font-weight: bold;">
            Atividade Recente
        </RadzenText>
    </RadzenStack>
    
    <RadzenStack Gap="1rem">
        
        @foreach (var atividade in Atividades)
        {
            <div class="d-flex align-items-start">
                <RadzenIcon Icon="fiber_manual_record" 
                            Style="@($"font-size: 10px; color: {atividade.CorStatus}; margin-top: 6px; margin-right: 8px;")" />
                
                <RadzenStack Gap="0.1rem">
                    <RadzenText TextStyle="TextStyle.Body1">
                        <span style="font-weight: bold;">@atividade.Status</span>: "@atividade.Livro"
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.Caption" class="rz-color-secondary">
                        @atividade.TempoAtras
                    </RadzenText>
                </RadzenStack>
            </div>
        }
        
    </RadzenStack>
</RadzenCard>

@code {
    private class Atividade
    {
        public string Status { get; set; }
        public string Livro { get; set; }
        public string TempoAtras { get; set; }
        public string CorStatus { get; set; }
    }

    private List<Atividade> Atividades = new List<Atividade>
    {
        new Atividade { Status = "Concluído", Livro = "1984", TempoAtras = "Há 2 dias", CorStatus = "green" },
        new Atividade { Status = "Adicionado", Livro = "Sapiens", TempoAtras = "Há 5 dias", CorStatus = "blue" },
        new Atividade { Status = "Iniciado", Livro = "O Hobbit", TempoAtras = "Há 1 semana", CorStatus = "orange" }
    };

    protected override async Task OnInitializedAsync()
    {
        var dados = await Service.ListarLivros();
        foreach (var l in dados)
        {
            // pegar os ultimos tres livros [ 1 conluido; 1 adicionado ; 1 iniciado ] 
            // pega o ultimo livro adicionado - há quantos dias
            // pegar o ultimo livro lido - há quantos dias
            // pegar o ultimo livro iniciado - há quantos dias
            
            
            
                
        }
    }
}   