@inject DialogService DialogService
@attribute [Authorize(Roles = "Administrador")]


<RadzenStack Gap="1.5rem">
    <p>Tem certeza que deseja <b>Bloquear</b> o usuário <b>@UserName</b>?</p>

    <RadzenStack Orientation="Orientation.Horizontal"
                 Gap="0.5rem"
                 JustifyContent="JustifyContent.SpaceBetween">

        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenButton Text="Confirmar"
                          ButtonStyle="ButtonStyle.Danger"
                          Style="width: 100px"
                          Click="@Confirm" />

            <RadzenButton Text="Cancelar"
                          ButtonStyle="ButtonStyle.Light"
                          Click="@Cancel" />
        </RadzenStack>
    </RadzenStack>
</RadzenStack>

@code {
    [Parameter] public int UserId { get; set; }
    [Parameter] public string UserName { get; set; }

    void Confirm()
    {
        DialogService.Close(true); // retorna TRUE
    }

    void Cancel()
    {
        DialogService.Close(false); // retorna FALSE
    }
}